<div class="fixedDownloadView">
    <div class="content">
        <div>
            <div id="downloadQRCode"></div>
            <p>{!fixed.1!}</p>
        </div>
        <div>
            <a class="fixedDownloadBtn" href="" target="_self">
                <div class="ovay_downloadBg">
                    <img src="assets/img/icon_download.png">
                </div>
            </a>
            <p>{!fixed.2!}</p>
        </div>
    </div>
    <div class="downloadBtn">
        <img src="assets/img/doubleArrowLeft.png">
        <p>{!fixed.3!}</p>
    </div>
</div>