<footer class="footer">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-12 item">
                    <div class="icon">
                        <img src="assets/img/logo.png">
                        <p>DUYET LIEN TAY,VAY TIEN NGAY</p>
                    </div>
                </div>
                <span class="vertical"></span>
                <div class="col-lg-3 col-md-12 item">
                    <div class="address">
                        <div class="header-wrapper">
                            <img src="assets/img/address.png">
                            <span>{!c7.1!}</span>
                        </div>
                        <p class="value">Tang 16, toa TNR 54A Nguyen Chi
                            Thanh, P. Lang Thuong, Q. Dong
                            Da, Ha Noi, Viet Nam</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12 item">
                    <div class="contact">
                        <div class="header-wrapper">
                            <img src="assets/img/contact.png">
                            <span>{!c7.2!}</span>
                        </div>
                        <a href="tel:1900633605"><p class="value">190 0633 605</p></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12 item">
                    <div class="contact">
                        <div class="header-wrapper">
                            <img src="assets/img/email.png">
                            <span>{!c7.3!}</span>
                        </div>
                        <a href="mailto:vay@ovay.vn"><p class="value">ovay@ovay.vn</p></a>
                        <a href="mailto:support@ovay.vn"><p class="value">support@ovay.vn</p></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <p>©Copyright - OVAY I DUYET LIEN TAY,VAY TIEN NGAY</p>
    </div>
</footer>